<div class="login-container">

    <div class="centro">
                <h1>Login</h1>
        <img src="assets/logo.png" alt="Game Room Logo" />

    <form (ngSubmit)="onLogin()">
        <input [(ngModel)]="email" name="email" type="text" placeholder="Email" />
        <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" />
        <button type="submit">Login</button>
        
        @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        }

    </form>
    </div>
</div>