<div class="registro-container">

    <div class="centro">
                <h1>Registro</h1>
        <img src="assets/logo.png" alt="Game Room Logo" />

    <form (ngSubmit)="onRegister()">
        <input [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" />
        <input [(ngModel)]="apellido" name="apellido" type="text" placeholder="Apellido" />
        <input [(ngModel)]="email" name="email" type="text" placeholder="Email" />
        <input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" />
        <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirmar Contraseña" />
        @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        }
        <button matButton = "tonal" type="submit">Registrarse</button>
        <p> ¿Ya tienes una cuenta? </p>
        <button  type="button" mat Button = "filled" routerLink="/login">Iniciar sesión</button>
    </form>
    </div>
</div>